.section1, .section2, .section3 {
    padding: 50px 0;
    text-align: center;
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    animation: fade-in 1s ease-out;
}

.image-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    animation: fade-in 1s ease-out;
}

.image-column img {
    border: 2px solid black;
    transition: transform .3s ease-in-out;
}

.image-column img:hover {
    transform: scale(1.1);
}

@keyframes fade-in {
    0% {
    opacity: 0;
    transform: translateY(50px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}